<template name="contact">
  <div class="contact" data-scroll-reveal="">
    <h2>Hit Me Up!</h2>
    <div class="contact-links">
      <a href="https://www.linkedin.com/profile/view?id=116990596&trk=nav_responsive_tab_profile_pic" target="_blank" class="contact-link" data-scroll-reveal="wait 0.8s enter top 50px over 1.33s"><i class="icon-linkedin"></i></a>
      <a href="mailto:charles.heath.berman@gmail.com" class="contact-link"><i class="icon-email" data-scroll-reveal="wait 1.1s enter top 50px over 1.33s"></i></a>
    </div>
  </div>
</template>
