<template name="home">
  <div class="home" data-scroll-reveal="">
    <div class="logo" data-scroll-reveal="wait 1.0s and then enter top ease-in-out 20px">
      <i class="icon-bolt"></i>
    </div>
    <h1 class="welcome-heading" data-scroll-reveal="wait 1.2s and then enter top ease-in-out 20px">
      <small>Hi, I'm Charles Berman</small>
      <em>I'm an Applications developer</em>
    </h1>
    <a class="more" href="#section-about">
      About Me
      <i class="icon-arrow"></i>
    </a>
  </div>
</template>
