<template name="skills">
  <div class="skills" data-scroll-reveal="">
    <div class="meteor">
      <img src="images/meteor.png" />
    </div>

    <p>
      I'm a full stack designer and developer with over 15 years of experience building web and mobile applications. My current technology of choice is <a href="http://meteor.com">Meteor.js</a> and <a href="https://www.polymer-project.org/">Polymer</a>
    </p>
    <p>
      I have designed software architecture for many advanced robotic applications, many of which involved developing new technologies for bringing new applications to the forefront of technology.
    </p>
    <p>
      <a href="static/NickWientgeResume.pdf" class="resume-button" data-scroll-reveal="wait 0.6s enter top 50px over 1.33s"><i class="icon-resume"></i> Download My Resume</a>
    </p>
    <a class="more" href="#section-contact">
      Contact Me
      <i class="icon-arrow"></i>
    </a>
  </div>
</template>
