<template name="work">
  <div class="work" data-scroll-reveal="">
    <h2>What I'm Working On</h2>
    <div class="work-links">
      <a href="https://github.com/mookiejones" target="_blank" class="work-link" data-scroll-reveal="wait 1.1s enter top 50px over 1.33s">
        <i class="icon-github"></i>
        <h4>
          Code
          <small>on Github</small>
        </h4>
      </a>
    </div>
    <a class="more" href="#section-skills">
      My Skills
      <i class="icon-arrow"></i>
    </a>
  </div>
</template>
